
.div {
    grid-area: content;
}

.profile {
    background-color: #EBECEE;
    height: 100%;
    padding: 15px 0 0 15px;
}
.profileImg {
    height: 100px;
    width: 100px;
}

.aboutPerson {
    display: flex;
}

.aboutPersonText {
    display: flex;
    flex-direction: column;
}

