
.div{
    grid-area: content;
}
.profile{
    background-color: #EBECEE;
    /*margin-top: 10px;*/
    height: 100%;

}
.profileImg{
    height: 100px;
    width: 100px;
}
.aboutPerson{
    display: flex;
    padding: 10px;
}
.aboutPersonText{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

