.logo {
    grid-area: log;
    background-color: #0e1a35;
    height: 100%;
    display: flex;
}
.logoImagine {
    width: 40px;
    height: 40px;
    margin: auto 10px;
}
.logoText{
    margin: auto 10px;
    color: white;
}