.profileInfo{
    display: flex;
}
.profileImg {
    height: 100px;
    width: 100px;
    float: left;
}
.aboutPerson {
    display: flex;
}
.aboutPersonText {
    display: flex;
    flex-direction: column;
}

